<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="styles/styles.css" />

    <script src="scripts/update-form.js"></script>

    <script src="vendored/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx-ext-form-json"></script>

    <title>Ohm</title>
  </head>
  <body>
    <hr />
    <form
      hx-target="#response"
      hx-post="/api/expense"
      hx-headers='{ "Content-Type": "application/json" }'
      hx-ext="form-json"
      id="transaction-form"
    >
      <select name="type" id="type-select">
        <option value="expense" selected>Expense</option>
        <option value="income">Income</option>
      </select>
      <input type="date" name="timeocc" required />
      <input
        type="text"
        name="description"
        placeholder="Description"
        required
      />
      <select
        hx-get="/api/category/expense"
        hx-trigger="load"
        hx-target="this"
        hx-swap="innerHTML"
        name="category"
        id="category-select"
        required
      ></select>
      <input
        type="number"
        name="value"
        min="0"
        step="0.01"
        placeholder="Value"
        required
      />
      <button id="add-expense-button" type="submit">Send request</button>
    </form>
    <div id="response"></div>

    <hr />
    <table>
      <thead>
        <tr>
          <th>Time_Occ</th>
          <th>Description</th>
          <th>Category</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody
        hx-get="/api/expense"
        hx-trigger="load, newExpense from:body"
        hx-target="this"
        hx-swap="innerHTML"
      ></tbody>
    </table>
  </body>
</html>
