<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="styles/styles.css" />

    <script src="vendored/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx-ext-form-json"></script>

    <title>Ohm</title>
  </head>
  <body>
    <hr />
    <form
      hx-target="#response"
      hx-post="/api/expense"
      hx-headers='{ "Content-Type": "application/json" }'
      hx-ext="form-json"
    >
      <input type="date" name="timeocc" required />
      <input
        type="text"
        name="description"
        placeholder="Description"
        required
      />
      <input type="text" name="category" placeholder="Category" required />
      <input type="number" name="value" placeholder="Value" required />
      <button class="add-expense-button" type="submit">Send request</button>
    </form>
    <div id="response"></div>

    <hr />
    <table>
      <thead>
        <tr>
          <th>Time_Occ</th>
          <th>Description</th>
          <th>Category</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody
        hx-get="/api/expense"
        hx-trigger="load"
        hx-target="this"
        hx-swap="innerHTML"
      ></tbody>
    </table>
  </body>
</html>
