<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="styles/styles.css" />

    <script src="vendored/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx-ext-form-json"></script>

    <title>Ohm</title>
  </head>
  <body>
    <h1 class="title">{{.Title}}</h1>
    <p>{{.Message}}</p>
    <hr />
    <form
      hx-post="/api/expense"
      hx-headers='{ "Content-Type": "application/json" }'
      hx-ext="form-json"
    >
      <input type="date" name="time_occ" required />
      <input
        type="text"
        name="description"
        placeholder="Description"
        required
      />
      <input type="text" name="category" placeholder="Category" required />
      <input type="number" name="value" placeholder="Value" required />
      <button type="submit">Send request</button>
    </form>
  </body>
</html>

